*{
    margin: 2px;
}

.header{
    display: flex;
    align-items: center;
    background-color:lightblue;
    color: red;
    padding: 5px 20px;
    text-align: center;

}

.header img{
    width: 70px;
    margin-right: 20px;
    
    
}

.header h4{
    
    margin-left: 300px;
    align-items: center;
}

nav{
    text-align: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:darkblue;
    color: white;
    padding: 15px;
    margin: 10px;
}

li{
    display: inline;
    padding: 8px;
    text-align: center;
    margin: 5px;
    align-items: center;
    
}

li a{
    text-decoration: none;
    color:white;
}

.sidebar a{
    text-decoration: none;
    font-size: larger;
}


.sidebar{
    
    float: left;
    width: 197px;
    height: 380px;
    background-color:rgb(212, 226, 240);
    padding: 15px;
    margin: 10px;
    display: block;
}

.sidebar h4{
    font-size: larger;
    margin-left: 10px;
   
}

.sidebar a{
    display: block;
    color: black;
    margin: 5px;
    padding: 5px;
    font-size: x-large;
    font-weight: 200;
}
.main{
  width: 1030px ;/* 1200 - 250 - 20 (gap/margin/padding) */
  height: 380px;
  background-color:whitesmoke ;
  padding: 20px;
  margin-left: 260px;
    
}

.main h1{
    margin-left: 100px;
}

iframe{
    width: 800px;
    height: 450px;
    border: none;
}

.section::after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: lightblue;
    height: 40px;
    margin: 2px;
    font-size: x-large;
    text-align: center;
    align-items: center;      /* Vertically center */
    justify-content:center
}

.footer p{
    text-align: center;
    display: flex;
    align-items: center;
}